<div class="col-md-12">
  <h3><i>. . . the church with the warm heart</i></h3>
</div>
<div class="posts-overview-container col-md-8">
  <div class="post-overview-header">
    <h4>Message from our Pastor</h4>
  </div>
  <div ng-repeat="post in posts | orderBy: '-upvotes'" class="post-overview">
    <div class="col-md-8">
      <h5><a href="#/posts/{{$index}}">{{post.title}}</a></h5>
    </div>
    <div class="post-body col-md-8">
      <p>{{post.body}}</p>
    </div>
  </div>
</div>
<div class="events-overview-container col-md-4">
  <div class="event-overview-header">
    <h4>Upcoming Events</h4>
  </div>
  <div ng-repeat="event in events" class="event-overview">
    <a href="#/events">{{event.title}}</a>
  </div>
</div>
