<h2>Messages</h2>

<div ng-repeat="post in posts | orderBy: '-upvotes'" class="">
  <a href="#/posts/{{$index}}">{{post.title}}</a>
</div>

<h2>New Post</h2>
<form ng-submit="addPost()">
  <div class="form-group">
    <label for="inputTitle">Title</label>
    <input type="text" class="form-control" placeholder="Title" ng-model="title">
  </div>
  <div class="form-group">
    <label for="inputBody">Text</label>
    <textarea name="name" class="form-control" placeholder="Write message here" ng-model="body" rows="20"></textarea>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="is_event"> This is an event
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Post</button>
</form>
