<!DOCTYPE html>
<html>
  <head>
    <title>TrinityChurch</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body ng-app="trinityChurch">
    <div class="container">
      <ui-view>
        <script type="text/ng-template" id="/home.html"></script>
        <script type="text/ng-template" id="/posts.html"></script>
      </ui-view>
    </div>
  </body>
</html>
